<!doctype html>
<html lang="zh-CN">
<head>
{% include "partials/head.njk" %}
</head>
<body>
{% include "partials/nav.njk" %}
{{ content | safe }}
{% include "partials/footer.njk" %}
<script src="site.js?v={{ assetVer }}"></script>
</body>
</html>
